<article>
  <h2 class="title mt-5">Edit Your Trip:</h2><hr>
  <form class="edit-trip-form">
    <div>
      <label for="trip-title">What is the title of your trip?</label>
      <input class="input" name="trip-title" type="text" value="{{trip.title}}" />
    </div>
      <div>
      <label for="location">Where are you going?</label>
      <input type="textarea" id="location" name="location" value="{{trip.location}}"/>
    </div>
    <div>
      <label for="starting-date">When do you leave for your trip?</label>
      <input type="date" id="date" name="starting-date" value="{{trip.starting_date}}"/>
    </div>
    <div>
      <label for="ending-date">When does your trip end?</label>
      <input type="date" id="date" name="ending-date" value="{{trip.ending_date}}"/>
    </div>
    <div>
      <label for="trip-description">Add a description for your trip:</label>
      <input class="textarea" name="trip-description" type="text" value="{{trip.trip_description}}" />
    </div>
    <div id="edit-footer">
      <div id="trip-data" class="is-pulled-right">
        Created by you on {{format_date trip.created_at}}
        |
        <a href="/trip/{{trip.id}}">{{trip.comments.length}} {{format_plural "comment" trip.comments.length}}</a>
      </div>
      <div id="btn-group">
        <button type="submit" id="save-trip-btn" class="button is-success is-pulled-right">save trip</button>
        <button type="button" id="delete-trip-btn" class="button is-danger delete-post-btn is-pulled-right">delete trip</button>
      </div>
    </div>
  </form>
</article>
{{> comments trip.comments}}

<script src="/js/edit-trip.js"></script>
<script src="/js/delete-trip.js"></script>
<script src="/js/comment.js"></script>