<div id="trip-details" class="card">
  <div class="card-content">
    <div id="trip-info">
    <h1 id="main-heading">Trip Details</h1>
    <h2>Trip Title: {{trip.title}}</h2>
    <h3>Location: {{trip.location}}</h3>
    <p>Trip Description: {{trip.trip_description}}</p>
    <p>Date of Trip: {{format_date trip.starting_date}} - {{format_date trip.ending_date}}</p>
    <br>
<a href="/api/trip-details/{{trip.id}}/add-daily"><button id="-add-daily-btn" class="button is-link is-center">add daily notes</button></a>

  </div>
  </div>
</div>
{{#if dailies.length}}
<div id="daily-info">
{{#each dailies as |daily|}}
    {{> daily-info daily}}
  	{{/each}}
{{else}}
    <h4 class="pb-4 has-text-centered is-italic">There is currently no daily notes for this trip. Click below to add daily notes.</h4>
{{/if}}
</div>